<main class="splash-page-cont">
  <h1 class="splash-header">Welcome <%= current_user.name %></h1>
  <h2 class="appli-name">Transactions App</h2>
  <div>
    <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'devise-btn' %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'devise-btn' %>
    <%# <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete %> %>
  </div>
</main>