<nav>
  <div>
    <i class="fas fa-arrow-left"></i>
  </div>
  <div> <%= variable %> </div>
  <div>
    <i class="fas fa-user"></i>
  </div>
</nav>
<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :span, msg, class: name %>
  <% end -%>
</div>