* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$italianno: 'Italianno', cursive;
$italiana: 'Italiana', serif;
$roboto: 'Roboto', sans-serif;
$blue: #3778c2;

.flash-cont {
  font-family: $italiana;
  justify-content: center;
  font-size: 1.1rem;

  .alert,
  .success,
  .notice {
    margin: 1rem 0;
    background-color: #1a4f8b;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
  }
}

.splash-page-cont {
  height: 100vh;

  .splash-header {
    padding: 0 2rem;
    padding-top: 2.5rem;
    font-family: $italiana;
    font-size: 1.4rem;
  }

  .appli-name {
    margin: 12rem 4rem 10rem 4rem;
    font-family: $italianno;
    font-size: 3rem;
  }

  .devise-btn {
    margin: 0 2rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    font-family: $italiana;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

  .devise-btn:hover {
    color: #fff;
    background-color: $blue;
  }
}
